@model ShopTARgv23.Models.Accounts.ForgotPasswordViewModel

<h2>
   Forgot Password?!
</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="Email">Your email:</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>