@model ShopTARgv23.Models.Emails.EmailsViewModel

<div class="container">
    
    <div class="h1">
        Send an email!
    </div>

    <div class="card-body"></div>
    <form method="post" enctype="multipart/form-data">
        <div>
            <div class="col-sm-10">
                <label asp-for="To"></label>
                <input asp-for="To" class="form-control" />
            </div>
        </div>
        <div>
            <div class="col-sm-10">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" />
            </div>
        </div>
        <div>
            <div class="col-sm-10">
                <label asp-for="Body"></label>
                <textarea asp-for="Body" class="form-control" style="height: 400px;" type="text" ></textarea>
            </div>
        </div>
        <div>
            <div class="col-sm-10">
                <label asp-for="Attachment"></label>
                <input asp-for="Attachment" class="form-control" multiple="multiple" type="file"></input>
            </div>
        </div>
        <div>
            <button asp-controller="Emails" asp-action="SendMessage">Send</button>
        </div>
    </form>
</div>